<script type="text/javascript">
  <% if signed_in? %>
    window.currentUser =
      <%= render("api/users/current_user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>

<script type="text/javascript">
  window.rootAssets = {
    sessionLogo: "<%=image_url("sessionLogo.png")%>",
    rootLogo: "<%=image_url("rootLogo.png")%>",
    splash0: "<%=image_url("splash0.jpg")%>",
    splash1: "<%=image_url("splash1.jpg")%>",
    splash2: "<%=image_url("splash2.jpg")%>",
    splash3: "<%=image_url("splash3.jpg")%>",
    splash4: "<%=image_url("splash4.jpg")%>"
  }
</script>


<main id="root"></main>
