<!DOCTYPE html>
<html>
  <head>
    <title>snack</title>
    <%= csrf_meta_tags %>
    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://use.fontawesome.com/a6b798747e.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
